.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.carousel-button {
    height: 100%;
    width: 50px;
    background-color: transparent;
    border: none;
    color: black;
}

.carousel-button:hover {
    background-color: var(--dark-background-color);
}

.carousel-view-window {
   overflow: hidden;
   border: var(--standard-border);
   width: 800px;
   height: 400px;
}

.carousel-item-container {
    position: relative;
    left: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.carousel-navigator {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.nav-point {
    border: var(--standard-border);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.nav-point:hover {
    background-color: var(--dark-background-color);
    cursor: pointer;
}

.nav-point.not-selected {
    background-color: var(--light-background-color);
}

.nav-point.selected {
    background-color: var(--dark-background-color);
}